* {
  padding:0;
  margin:0;
}
html,body {
	width:100%;
	height: 100%;
	font:0.8rem 'Helvetica Neue',Tahoma,Arial,PingFangSC-Regular,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
	//background: #F4F4F4;
  -webkit-text-size-adjust: none;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #f00;  
}  

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color:#000;
}
a:-webkit-any-link  {
	color:#000;
}
input,
button {
  border:none;
  font-size:0.7rem;
  display: inline-block;
}
::placeholder {
  color:#aaa;
}
input:focus {
    outline: none;
 }
 input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

.cir {
	border-radius: 10px;
}
.gray {
	color:#808080;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: center;
  align-items: center;
}
.left,.right {
  width:48%;
}
.container .left {
  text-align: left;
}
.container .right {
  text-align: right;
}
sup {
  vertical-align: 36%;
  font-size:0.8rem;
}
.blue {
  background: #0097FF;
}
.rotate180 {
  transform: rotate(180deg);
}
.half {
  width:49%;
  width:49vw;
}
.full {
  width:100vw;
}
.gray_bg {
  min-height:100vh;
  background:#F5F5F5;
}
.white_bg {
  background: #fff;
}

.font5 {
  font-size:0.5rem;
}
.font6 {
  font-size:0.6rem;
}

.b_t_b {
  border-top:thin solid #ddd;
  border-bottom:thin solid #ddd;
}
